<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Login Page</title>
</head>

<body>
    <div class="container">
        <form id="loginForm" action="{% url 'index' %}" onsubmit="return validateLogin()" method="post">
            {% csrf_token %}
            <h2>Login</h2>
            <!-- <label for="username">Username:</label>
            <input type="text" id="username" name="username" required> -->
            <p id="uerror"></p>{{ form.as_p }}
            <!-- <label for="password">Password:</label>
            <input type="password" id="password" name="password" required> -->
            <p id="perror"></p>
            <button id="button" type="submit" value='Login'>Login</button>
            <h5>Developed by S. Aravinthsamy, Bsc(CS), MCA..,</h5>
        </form>
    </div>
    <script src="{% static 'index.js' %}"></script>
</body>

</html>
